h1 {
    text-align: center;
    }


p {
    font-weight: bold;
    }



body {

    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }


#button {
    background-color: burlywood;
    color: black;
    padding: 1px 15px;
    text-align: center;
    display: inline-block;
    }



