h1 {text-align: center;}

p{
    font-weight: bold;
}


body {

    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    margin: 10px;
    flex-direction: column;
}



